<div style="display: none" id="map_script_pre">
    <script class="new_js" type="text/javascript" src="/static{{line_script1_name}}"></script>
    <script class="new_js" type="text/javascript" src="/static{{line2_script1_name}}"></script>
    <script class="new_js" type="text/javascript" src="/static{{map_script1_name}}"></script>
    <script class="new_js" type="text/javascript" src="/static{{map_script2_name}}"></script>
</div>
<div id="area_data">
    <div style="height: 500px;">
        <div style="height: 50%" id="{{line_div_id}}"></div>
        <div style="height: 50%" id="{{line2_div_id}}"></div>

    </div>
    <div style="height: 400px" id="{{map_div_id}}"></div>
</div>
<div style="display: none" id="map_script_post">
    <script class="new_js2" type="text/javascript" src="/static{{line_script2_name}}"></script>
    <script class="new_js2" type="text/javascript" src="/static{{line2_script2_name}}"></script>
    <script class="new_js2" type="text/javascript" src="/static{{map_script3_name}}"></script>
</div>